<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ ressources | safe }}
    <title>Dashboard Agricole</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboardMain.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <div class="header">
            <h1 class="welcome-text">Bonjour, M/Mme {{ username }}</h1>
            <div class="date">DataCup@Property</div>
        </div>
        <div class="divSelect">
            <label class="fermeSelect">Selectionnez votre Ferme : </label>
            <select name="ferme" class="selectFerme">
                <option>ferme 1</option>
                <option>ferme 2</option>
                <option>ferme 3</option>
            </select>
        </div>
        <div class="stats-grid">
            <div class="stat-card">
                <div class="stat-info">
                    <h3>Température Moyenne</h3>
                    <p>{{ tempMoyenne }}°C</p>
                </div>
            </div>
            <div class="stat-card">
                <div class="stat-info">
                    <h3>Humidité Moyenne</h3>
                    <p>65%</p>
                </div>
            </div>

            <div class="stat-card">
                <div class="stat-info">
                    <h3>pH Moyen</h3>
                    <p>5</p>
                </div>
            </div>
        </div>

        <div class="charts-container">
            <div class="chart-card">
                <h3>Évolution de la température</h3>
                <div>
                    {{ div | safe }}
                </div>
            </div>
            {{ script | safe }}
            <div class="chart-card">
                <h3>Niveaux d'humidité</h3>
                <div class="chart-placeholder">
                    {{ div2 | safe }}
                    
                </div>
            </div>
            {{ script2 | safe }}
        </div>

        <div class="recent-activities">
            <h3></h3>
            <ul class="activity-list">
                <li class="activity-item">
                    <div class="activity-info">
                        <h4></h4>
                        <p></p>
                    </div>
                    <div class="activity-time"></div>
                </li>

                <li class="activity-item">
                    <div class="activity-info">
                        <h4></h4>
                        <p></p>
                    </div>
                    <div class="activity-time"></div>
                </li>

                <li class="activity-item">
                    <div class="activity-info">
                        <h4></h4>
                        <p></p>
                    </div>
                    <div class="activity-time"></div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>

